<div class="card body">
  <%= link_to "DEPARTMENT" ,departments_path, :class => 'btn btn-outline-primary' %>
</div>
<br/>
<div class="card body">
  <%= link_to "USER" ,users_path, :class => 'btn btn-outline-primary' %>
</div>
<br/>
<div class="card body">
  <%= link_to "PROJECT" ,projects_path, :class => 'btn btn-outline-primary' %>
</div>
<br/>
